body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.header h1 {
    color: #f39c12;
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type="text"], select, button {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    background: #333;
    color: #e0e0e0;
    border: 2px solid #f39c12;
    border-radius: 5px;
}

button {
    background-color: #f39c12;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e67e22;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    margin-top: 20px;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: #3b5998;
}
